{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@modules": "./dist/modules",
          "@config": "./dist/config",
          "@shared": "./dist/shared"
        }
      }
    ]
  ]
}